# @go-git-cms/* packages are published to GitHub Packages, not npmjs.
# Auth goes in ~/.npmrc:  //npm.pkg.github.com/:_authToken=<token with read:packages>
@go-git-cms:registry=https://npm.pkg.github.com
