---
export interface Props {
	title: string,
    started: string
}

const { 
	started,
    title
} = Astro.props as Props;
---

<div class="p-4 border-t-2 border-accent w-fit">
    <small>{ started }</small>
    <h2>{ title }</h2>
</div>