---
export interface Props {
	href
}

const { 
	href
} = Astro.props as Props;
---
<a href={href} target="_blank" referrerpolicy="no-referrer" class="text-accent font-semibold hover:underline">
    <slot />
</a>