---
import { Post } from '../post';
import { getPostsAround } from '../posts';
import BackToAllPostsButton from './BackToAllPostsButton.astro';

export interface Props {
	post
}

const { 
	post
} = Astro.props as Props;

const {
    previousPost,
    nextPost
} = getPostsAround(post)

---

<span class="flex flex-col border-t-2 border-accent mt-8">
    <span class="flex justify-evenly mt-8 gap-4 w-full flex-wrap px-4 text-2xl">
        { previousPost &&
        <a href={previousPost?.name} class="flex gap-2 items-center hover:-translate-x-2 duration-500">
            <svg class="fill-accent w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
            { previousPost?.title }
        </a>
        }
        { nextPost &&
        <a href={nextPost?.name} class="flex gap-2 items-center hover:translate-x-2 duration-500">
            { nextPost?.title }
            <svg class="fill-accent w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
        </a>
        }
    </span>
    <a href="/#posts" class="mt-8 mb-8 h-fit py-1 px-2 text-2xl text-primary duration-300 flex gap-1 items-center hover:-translate-x-2 m-auto">
        <svg class="w-6 fill-accent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192zm384-192l-192 192c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 470.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg>
        All posts
    </a>
    <a class="px-2 py-2 text-sm  text-center hover:underline duration-500" href="https://us17.list-manage.com/contact-form?u=f218f35ce805f339f1023aaa6&form_id=03a0fc62d63083aa503eb333cec0f1cf" target="_blank" referrerpolicy="no-referrer">
        Have something to say or just want to get notified about new posts? Reach out!
    </a>
</span>