---
import { Post } from '../post';

export interface Props {
	post: Post
}

const { 
	post
} = Astro.props as Props;
---

<span class="m-4 border-b-2 border-accent pb-8">
    <span class="flex justify-between items-center flex-wrap-reverse gap-4">
        <h1>{ post.title }</h1>
        <a href="/#posts" class="h-fit py-1 px-2 text-xl text-primary duration-300 flex gap-1 items-center hover:-translate-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="w-6 stroke-accent">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
            Go back to all posts
        </a>
    </span>
    <span class="flex flex-wrap justify-between items-center gap-x-8 gap-y-2">
        <h2>{ post.writtenOn }</h2>
        <ul class="flex flex-wrap gap-2">
            {
                post.tags.map(tag => (
                    <li class="text-primary text-xs bg-accent px-2 py-1 rounded-xl h-fit">{ tag }</li>
                ))
            }
        </ul>
    </span>
</span>
