---
interface Props {
  writtenOn: Date;
  tags: string[];
}

const { writtenOn, tags } = Astro.props;

const formattedDate = writtenOn.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});
---

<span class="post-header">
  <span class="post-header-meta">
    <h2>{formattedDate}</h2>
    <ul class="tags-list">
      {tags.map(tag => (
        <li class="tag">{tag}</li>
      ))}
    </ul>
  </span>
</span>
