---
import { Post } from '../post';

export interface Props {
	post: Post
}

const { 
	post
} = Astro.props as Props;
---

<span class="m-4 border-b-2 border-accent pb-8">
    <span class="flex justify-between items-center flex-wrap-reverse gap-4">
        <h1>{ post.title }</h1>
    </span>
    <span class="flex flex-wrap justify-between items-center gap-x-8 gap-y-2">
        <h2>{ post.writtenOn }</h2>
        <ul class="flex flex-wrap gap-2">
            {
                post.tags.map(tag => (
                    <li class="text-primary text-xs bg-accent px-2 py-1 rounded-xl h-fit">{ tag }</li>
                ))
            }
        </ul>
    </span>
</span>
