<span class="flex flex-col border-t-2 border-accent mt-8">
    <a href="/#posts" class="mt-8 mb-8 h-fit py-1 px-2 text-2xl text-primary duration-300 flex gap-1 items-center hover:-translate-x-2 m-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="w-6 stroke-accent">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
        Go back to all posts
    </a>
    <a class="px-2 py-2 text-sm  text-center hover:underline duration-500" href="https://us17.list-manage.com/contact-form?u=f218f35ce805f339f1023aaa6&form_id=03a0fc62d63083aa503eb333cec0f1cf" target="_blank" referrerpolicy="no-referrer">
        Have something to say or just want to get notified about new posts? Reach out!
    </a>
</span>